<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">主页</a></li>
    <li class="nav-magical-index" role="menuitem"><a href="{{site.baseurl}}tag/magical-index/">魔法禁书目录</a></li>
    <li class="nav-alchemy-lab" role="menuitem"><a href="{{site.baseurl}}tag/alchemy-lab/">炼金实验室</a></li>
    <li class="nav-scroll" role="menuitem"><a href="{{site.baseurl}}tag/scroll/">流水账</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
