<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-magical-index" role="menuitem"><a href="{{site.baseurl}}tag/magical-index/">Magical Index</a></li>
    <li class="nav-alchemy-lab" role="menuitem"><a href="{{site.baseurl}}tag/alchemy-lab/">Alchemy Lab</a></li>
    <li class="nav-scroll" role="menuitem"><a href="{{site.baseurl}}tag/scroll/">Scroll</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
